<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   <div class="container-fluid d-flex align-items-center">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> {{category.nom}} </h1>
        <p class="text-white mt-0 mb-5"> {{category.description}} </p>
        <small class="text-white mt-0 mb-5">Ajoutée le: {{category.createdAt | date }} </small>
      </div>
   </div>
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Livres de Cette Catégorie </h3>
              <div class=" text-right">
                <button type="button" class="btn btn-sm btn-primary">
                  + Ajouter
                </button>
                <ng-template #addModal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Ajouter Produit de cette catégorie</h4>
                    <button type="button" class="close" aria-label="Close" >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <!-- ADD MODAL -->
                  <!-- <div class="modal-body">
                    <form (submit)="addCategory()" [formGroup]="addForm">
                      <div class="form-group">
                        <label class="form-control-label" for="nom">Nom du Catégorie</label>
                        <input type="text" id="nom" name="nom" class="form-control form-control-alternative"
                          formControlName="nom">
                        <span *ngIf="addFormErrors.length>0">
                          <span class="text-danger" *ngFor="let err of addFormErrors">
                            <small *ngIf="err.field==='nom'"> {{err.message}} </small>
                          </span></span>
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="description">Déscription</label>
                        <textarea type="textarea id" name="description" class="form-control form-control-alternative"
                          id="description" formControlName="description"> </textarea>
                      </div>
                    </form>
                  </div> -->
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                    <button type="submit" (click)="addCategory()" class="btn btn-primary">Save changes</button>
                  </div> -->
                </ng-template>
              </div>
            </div>
            <div class="table-responsive" *ngIf="books.length>0">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">titre</th>
                    <th scope="col">auteur</th>
                    <th scope="col">description</th>
                    <th scope="col">prix</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of books; let i = index">
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{book.id}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{book.titre}}
                    </td>
                    <td>
                      {{book.auteur}}
                    </td>
                    <td>
                      {{book.description}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4 text-center">
                        <i class="bg-warning"></i> {{book.prix}}
                      </span>
                    </td>
                    <td>
                      {{book.createdAt | date}}
                    </td>
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item text-primary" href="javascript:void(0)" > <i class="fas fa-pencil-alt"
                              style="font-size: 13px;"></i>Edit</a>
                          <a class="dropdown-item text-success" href="javascript:void(0)" > 
                           <i class="fas fa-eye" style="font-size: 13px;"></i>Products</a>
                          <a class="dropdown-item delete text-danger" href="javascript:void(0)"
                            > <i class="fas fa-trash fa-sm "
                              style="font-size: 13px;"></i> Delete</a>

                        </div>

                        <ng-template #editModal let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title">Editer La Catégorie</h4>
                            <button type="button" class="close" aria-label="Close" (click)="close()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form  [formGroup]="editForm">
                              <div class="form-group">
                                <label class="form-control-label" for="nom">Nom du Catégorie</label>
                                <input type="text" id="nom" name="nom" class="form-control form-control-alternative"
                                  formControlName="nom" >
                                <span *ngIf="editFormErrors.length>0">
                                  <span class="text-danger" *ngFor="let err of editFormErrors">
                                    <small *ngIf="err.field==='nom'"> {{err.message}} </small>
                                  </span></span>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="description">Déscription</label>
                                <textarea type="textarea id" name="description"
                                  class="form-control form-control-alternative" id="description"
                                  formControlName="description"> </textarea>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                            <button type="submit" (click)="editCategory(categorie.id)" class="btn btn-primary">Save changes</button>
                          </div>
                        </ng-template>
                      </div>
                    </td>
                  </tr> 


                </tbody>
              </table>
            </div>
            <div class="card-footer py-4" *ngIf="books.length>0">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="text-center" *ngIf="books.length===0">
              <h4>Aucnun Livre pour cette Catégorie Pour le moment!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>