<div class="container-fluid" >
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow" id="container-table-cartItems">
          <div class="card-header border-0">
            <h3 class="mb-0">Table des articles du panier</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#ID</th>
                  <th scope="col">Image</th>
                  <th scope="col">Titre</th>
                  <th scope="col">Auteur</th>
                  <th scope="col">Déscription</th>
                  <th scope="col">Prix</th>
                  <th>
                    Modifier
                  </th>
                  <th>
                    Supprimer
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>