<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
<div class="container-fluid">
  <div class="row form-book">
    <div class="col">
      <div class="card p-4 shadow">
        <h4 class="mb-3">Ajouter un produit</h4>
        <form class="needs-validation" (ngSubmit)="onUserSave()" [formGroup]="bookForm">

          <!-- Ligne 1 -->
          <div class="form-row">
            <div class="form-group col-md-4">
              <input type="text" formControlName="titre" class="form-control" placeholder="Titre" required>
              <div
                *ngIf="bookForm.get('titre')?.invalid && (bookForm.get('titre')?.touched || bookForm.get('titre')?.dirty)"
                class="text-danger small">
                <div *ngIf="bookForm.get('titre')?.errors?.['required']">
                  Le titre est obligatoire.
                </div>
              </div>
            </div>


            <div class="form-group col-md-4">
              <input type="text" formControlName="auteur" class="form-control" placeholder="Auteur" required>
              <div
                *ngIf="bookForm.get('auteur')?.invalid && (bookForm.get('auteur')?.touched || bookForm.get('auteur')?.dirty)"
                class="text-danger small">
                <div *ngIf="bookForm.get('auteur')?.errors?.['required']">
                  L'auteur est obligatoire.
                </div>
              </div>
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <textarea formControlName="description" class="form-control" placeholder="Description" required
                rows="2"></textarea>
              <div
                *ngIf="bookForm.get('description')?.invalid && (bookForm.get('description')?.touched || bookForm.get('description')?.dirty)"
                class="text-danger small">
                <div *ngIf="bookForm.get('description')?.errors?.['required']">
                  La description est obligatoire.
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <input type="number" formControlName="prix" class="form-control" placeholder="Prix" required>
              <div
                *ngIf="bookForm.get('prix')?.invalid && (bookForm.get('prix')?.touched || bookForm.get('prix')?.dirty)"
                class="text-danger small">
                <div *ngIf="bookForm.get('prix')?.errors?.['required']">
                  Le prix est obligatoire.
                </div>
              </div>
            </div>

          </div>

          <!-- Ligne 3 -->
          <div class="form-row">
            <div class="form-group col-md-4">
              <input type="file" formControlName="image" class="form-control" (change)="onSelectedFile($event)"
                placeholder="Image" required>
              <div
                *ngIf="bookForm.get('image')?.invalid && (bookForm.get('image')?.touched || bookForm.get('image')?.dirty)"
                class="text-danger small">
                <div *ngIf="bookForm.get('image')?.errors?.['required']">
                  L'image est obligatoire.
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownCategories"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Sélectionner la(les) catégorie(s) associée(s)
                </button>
                <ul class="dropdown-menu p-3" aria-labelledby="dropdownCategories"
                  style="max-height: 200px; overflow-y: auto;">
                  <li *ngFor="let cat of categories" class="form-check">
                    <input class="form-check-input" type="checkbox" [id]="'cat-' + cat.id" [value]="cat.id"
                      (change)="onCategoryChange($event)"
                      [checked]="bookForm.get('categories')!.value?.includes(cat.id)" />
                    <label class="form-check-label" [for]="'cat-' + cat.id">{{ cat.nom }}</label>
                  </li>
                </ul>
              </div>
              <div
                *ngIf="bookForm.get('categories')?.invalid && (bookForm.get('categories')?.touched || bookForm.get('categories')?.dirty)"
                class="text-danger small">
                <div *ngIf="bookForm.get('categories')?.errors?.['required']">
                  Veuillez sélectionner au moins une catégorie.
                </div>
              </div>
            </div>



          </div>
          <div class="form-row">
            <div class="form-group col-md-3 d-flex align-items-end">
              <button class="btn btn-primary w-100" type="submit">Ajouter</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="row table-book">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Card tables</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Déscription</th>
                <th scope="col">Prix</th>
                <th scope="col">Image</th>
                <th scope="col">Catégorie(s)</th>
                <th scope="col">Détails</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books | paginate: { itemsPerPage: 10, currentPage: page }">
                <td>{{book.id}}</td>
                <td>{{book.titre}}</td>
                <td>{{book.auteur}}</td>
                <td>{{book.description}}</td>
                <td>{{book.prix}}</td>
                <td>
                  <img class="img-book" [src]="'http://localhost:3000/uploads/' + book.image" alt="Image du livre"
                    width="100%" height="100%">
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                      id="dropdownMenuButton{{book.id}}" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ book.categories.length }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{book.id}}">
                      <li *ngFor="let category of book.categories">
                        <div class="dropdown-item">{{ category.nom }}</div>
                      </li>
                    </ul>
                  </div>
                </td>





                <td>
                  <button class="btn btn-primary w-100" (click)="openDetailModal(detailModal,book)">
                    <i class="bi bi-eye"></i>
                  </button>
                  <ng-template #detailModal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Détails du Livre {{book.titre}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p><strong>ID :</strong> {{ book.id }}</p>
                      <p><strong>Titre :</strong> {{ book.titre }}</p>
                      <p><strong>Auteur :</strong> {{ book.auteur }}</p>
                      <p><strong>Description :</strong> {{ book.description }}</p>
                      <p><strong>Prix :</strong> {{ book.prix }} MAD</p>

                      <div class="form-group">
                        <p><strong>Catégories :</strong></p>
                        <select class="form-control">
                          <option *ngFor="let cat of book.categories">{{ cat.nom }}</option>
                        </select>
                      </div>

                      <p><strong>Image :</strong></p>
                      <img *ngIf="book.image"
                        [src]="'http://localhost:3000/uploads/' + book.image" alt="Image du livre"
                        class="img-fluid rounded" style="max-height: 200px;">
                      <p *ngIf="!book.image">Aucune image disponible</p>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                    </div>
                  </ng-template>
                </td>
                <td>
                  <button class="btn btn-primary w-100" (click)="openEditModal(editModal,book)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <ng-template #editModal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Editer La Catégorie</h4>
                      <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="needs-validation" [formGroup]="editForm">

                        <!-- Ligne 1 -->
                        <div class="form-row">
                          <div class="form-group">
                            <label class="form-control-label" for="titre">Titre du livre</label>
                            <input type="text" formControlName="titre" class="form-control" required>
                            <div
                              *ngIf="editForm.get('titre')?.invalid && (editForm.get('titre')?.touched || editForm.get('titre')?.dirty)"
                              class="text-danger small">
                              <div *ngIf="editForm.get('titre')?.errors?.['required']">
                                Le titre est obligatoire.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label class="form-control-label" for="auteur">Auteur du livre</label>
                            <input type="text" formControlName="auteur" class="form-control" required>
                            <div
                              *ngIf="editForm.get('auteur')?.invalid && (editForm.get('auteur')?.touched || editForm.get('auteur')?.dirty)"
                              class="text-danger small">
                              <div *ngIf="editForm.get('auteur')?.errors?.['required']">
                                L'auteur est obligatoire.
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Ligne 2 -->
                        <div class="form-row">
                          <div class="form-group">
                            <label class="form-control-label" for="description">Description</label>
                            <textarea type="text" formControlName="description" class="form-control" required
                              rows="4"></textarea>
                            <div
                              *ngIf="editForm.get('description')?.invalid && (editForm.get('description')?.touched || editForm.get('description')?.dirty)"
                              class="text-danger small">
                              <div *ngIf="editForm.get('description')?.errors?.['required']">
                                La description est obligatoire.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label class="form-control-label" for="prix">Prix du livre</label>
                            <input type="number" formControlName="prix" class="form-control" required>
                            <div
                              *ngIf="editForm.get('prix')?.invalid && (editForm.get('prix')?.touched || editForm.get('prix')?.dirty)"
                              class="text-danger small">
                              <div *ngIf="editForm.get('prix')?.errors?.['required']">
                                Le prix est obligatoire.
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Ligne 3 -->
                        <div class="form-row">
                          <div class="form-group">
                            <label class="form-control-label" for="image">Image du livre</label>
                            <input type="file" formControlName="image" class="form-control"
                              (change)="onFileChange($event)" required>
                            <div
                              *ngIf="editForm.get('image')?.invalid && (editForm.get('image')?.touched || editForm.get('image')?.dirty)"
                              class="text-danger small">
                              <div *ngIf="editForm.get('image')?.errors?.['required']">
                                L'image est obligatoire.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-control-label" for="category">La(les) catégorie(s) du livre</label>

                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button"
                              id="dropdownCategoriesEdit" data-bs-toggle="dropdown" aria-expanded="false">
                              Modifier les catégories associées
                            </button>
                            <ul class="dropdown-menu p-3" aria-labelledby="dropdownCategoriesEdit"
                              style="max-height: 200px; overflow-y: auto;">
                              <li *ngFor="let cat of categories" class="form-check">
                                <input class="form-check-input" type="checkbox" [id]="'edit-cat-' + cat.id"
                                  [value]="cat.id" (change)="onEditCategoryChange($event)"
                                  [checked]="editForm.get('categories')!.value?.includes(cat.id)" />
                                <label class="form-check-label" [for]="'edit-cat-' + cat.id">{{ cat.nom }}</label>
                              </li>
                            </ul>
                          </div>
                          <div
                            *ngIf="editForm.get('categories')?.invalid && (editForm.get('categories')?.touched || editForm.get('categories')?.dirty)"
                            class="text-danger small">
                            <div *ngIf="editForm.get('categories')?.errors?.['required']">
                              Au moins une catégorie est obligatoire.
                            </div>
                          </div>
                        </div>





                      </form>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                      <button type="submit" (click)="editBook(book.id)" class="btn btn-primary">Save changes</button>
                    </div>
                  </ng-template>
                </td>
                <td>
                  <button class="btn btn-primary w-100" (click)="onDeleteBook(book.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls previousLabel="" nextLabel="" (pageChange)="page = $event">
          </pagination-controls>

        </div>


      </div>
    </div>
  </div>

</div>
</div>